@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Top navbar here */
.top-navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 16px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.743);
    z-index: 2;
}

.top-navbar ul {
    display: flex;
    gap: 1.2em;
}

.right-link {
    margin-right: 3em;
}


.top-navbar a {
    color: white;
    font-weight: 900;
    font-size: 1.2em;
}

.top-navbar .logo {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1.5em;
}

.main-logo {
    width: auto;
    height: 2em;
}

.left-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
}

.right-link a {
    font-family: 'Raleway', sans-serif;
}

/* End of navbar */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background: rgba(0, 0, 0, 0.2);
    background-attachment: fixed;
    color: white;
    margin-bottom: 100px;
    min-height: 75vh;
    /* aligning video with its parent */
    position: relative;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    /* displaying the text */
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    /* Fixing the video */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-container {
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1em;
}

.intro {
    font-family: 'Raleway', sans-serif;
    max-width: 300px;
    font-size: 2.3em;
    padding: 1em;
}

.description {
    font-size: 1.1em;
    max-width: 500px;
    max-height: 250px;
    padding: 2em;
    text-align: justify;
    border-left: 2.5px solid #FF6D60;
    border-radius: 0.5em;
}

.row {
    display: flex;
}

.col {
    padding: 0 15px;
}

/* End of hero */

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mission h2 {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
}

.mission p {
    width: 600px;
    padding: 2em;
}