@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Top navbar here */
.top-navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 16px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.top-navbar ul {
    display: flex;
    gap: 1.2em;
}

.right-link {
    margin-right: 3em;
}


.top-navbar a {
    color: white;
    font-weight: 900;
    font-size: 1.2em;
}

.top-navbar .logo {
    color: white;
    font-size: 1.5em;
}

.main-logo {
    width: auto;
    height: 2em;
}

.left-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
}
/* End of navbar */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    background-attachment: fixed;
    color: white;
    margin-bottom: 100px;
    min-height: 100vh;
    /* aligning video with its parent */
    position: relative;
    /* video doesn't overlap with other content. */
    overflow: hidden;
}

.title-color {
    color: #ff8a41;
    text-shadow: 1.5px 1.5px 1.5px black;
}

.video-bg {
    position: absolute;
    /* displaying the text */
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    /* Fixing the video */
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.intro-container {
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1em;
}


.intro {
    font-family: 'Raleway', sans-serif;
    max-width: 300px;
    font-size: 2.3em;
    padding: 1em;
}

.description {
    font-size: 1.1em;
    max-width: 500px;
    max-height: 250px;
    padding: 2em;
    border-left: 2.5px solid;
    border-image: linear-gradient(to bottom, #FF6E31, #FFA500);
    border-image-slice: 1;
}

.row {
    display: flex;
}

.col {
    padding: 0 15px;
}
/* End of hero */

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
}

.mission h2 {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    font-size: 2em;
}

.mission p {
    font-size: 1.2em;
    width: 920px;
    padding: 1em;
    margin-bottom: 1em;
    border-left: 3px solid #fa8d4a;
}
/* End of mission section*/

.divider {
    margin: 0 auto;
    height: 2px;
    background-color: #ff8a41;
    width: 100%;
    max-width: 60vw;
}

.info-container {
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    color: #181D31;
    font-size: 1.6em;
}

.img-sort {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 1em;
    height: 100;
    width: auto;
    color: #181D31;
    text-align: center;
    font-size: 1.4em;
    /* images will not react to interaction */
    pointer-events: none;
}
.info-img {
    height: 12em;
    width: 18em;
}

.card-title {
    font-weight: 900;
    font-size: 1.2em;
    color: white;
    text-shadow: 0px 0.5px 0.5px #FA9884, -0.2px -0.2px 5px #FA9884;

}
.direction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5), 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    width: 60vw;
    background-color: #EDEDED;
    gap: 2em;
}

.text-direct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    height: auto;
    color: white;
    background-color: #fa8d4a;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5), 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    gap: 1em;
    padding: 0.8em;
}
/* End of img cards */

.hero-2 {
    background-image: url(img/planting.jpg);
    height: 100vh;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.hero-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Change the color and opacity as desired */
    z-index: -1;
}

.hero-content {
    height: 100%;
    width: auto;
    background-color: rgba(129, 20, 20, 0.232);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    width: 600px;
}

.hero-content h4 {
    font-size: 2.2em;
    text-shadow: 2px 2px 5px black;
}

.hero-content p {
    font-size: 1.2em;
    text-shadow: 2px 2px 5px black;
}

.hero-content button {
    background-color: #fa8d4a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-content button:hover {
    background-color: #1A0000;
}
/* End of hero2 */

.team-container {
    margin-top: 10%;
}

.team-container h5 {
    font-size: 3em;
    margin-bottom: 2em;
    text-align: center;
}

.team-container h6 {
    font-size: 1.2em;
    text-align: center;
}   

.team {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    gap: 1.2em;
}

.team .team-member {
    background-color: #fa8d4a;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 1em;
    line-height: 1.5em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5), 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    position: relative;
}

.team .team-member h6 {
    color: #ffffff;
    font-size: 1.5em;
    margin-top: 10%;
}

.team .team-member .role {
    color: #eaeaea;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 12px;
}

.team .team-member .team-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    background-color: #0000000e;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5), 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.team .team-member .team-img img {
    width: 100%;
    height: 100%;
}
/* End of staff */

footer {
    background-color: #222;
    color: #fff;
    padding: 50px 0;
    margin-top: 10%;
}
  
.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.footer-col {
    width: 30%;
    margin-bottom: 40px;
}
  
.footer-col h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
li {
    margin-bottom: 10px;
}
  
a {
    color: #fff;
}
  
@media only screen and (max-width: 768px) {
    .footer-col {
      width: 45%;
    }
}
  
@media only screen and (max-width: 480px) {
    .footer-col {
      width: 100%;
    }
}